[MESSAGES CONTROL]
disable=
	raw-checker-failed, locally-disabled, locally-enabled, file-ignored,
	suppressed-message, fixme,
	
	# seems continuation checker doesn't work with tabs
	mixed-indentation, bad-continuation,
	
	# https://github.com/PyCQA/pylint/issues/1368
	bad-whitespace,
	
	# https://github.com/PyCQA/pylint/issues/1369
	function-redefined,
	
	# https://github.com/PyCQA/pylint/issues/782
	not-context-manager,
  
  design,
	
	anomalous-backslash-in-string,
	duplicate-code,
	global-statement,
	inconsistent-return-statements,
	missing-docstring, multiple-imports,
	no-self-use,
	redefined-outer-name, redefined-builtin,
	trailing-whitespace, too-many-statements, too-many-return-statements,
	unused-argument,
  unnecessary-pass,
	line-too-long

[REPORTS]
reports=no
score=no

[REFACTORING]
# Maximum number of nested blocks for function / method body
max-nested-blocks=5

[BASIC]
argument-rgx=(([a-z][a-z0-9_]{,30})|(_[a-z0-9_]*))$
attr-rgx=(([a-z][a-z0-9_]{1,30})|(_[a-z0-9_]*))$
const-rgx=^(([A-Z_][A-Z0-9_]*)|(__.*__)|[a-z_][a-z0-9_]*)$
method-rgx=(([a-z][a-z0-9_]{1,30})|(_[a-z0-9_]*))$
variable-rgx=(([a-z][a-z0-9_]{,30})|(_[a-z0-9_]*))$

[FORMAT]
no-space-check=trailing-comma,empty-line
indent-string="\t"

[VARIABLES]
callbacks=_
init-import=yes
redefining-builtins-modules=six.moves,future.builtins,safeprint

[TYPECHECK]
ignored-modules=
  worker,
  comiccrawler.mods.*,
  
  # FIXME: https://github.com/PyCQA/pylint/issues/3157
  node_vm2
