astroid==2.12.13
belfrywidgets==1.0.3
bleach==5.0.1
Brotli==1.0.9
certifi==2022.9.24
charset-normalizer==2.1.1
colorama==0.4.6
commonmark==0.9.1
desktop3==0.5.3
dill==0.3.6
docopt==0.6.2
docutils==0.19
future==0.18.2
idna==3.4
importlib-metadata==5.0.0
isort==5.10.1
jaraco.classes==3.2.3
keyring==23.11.0
lazy-object-proxy==1.8.0
livereload==2.6.3
lzstring==1.0.4
mccabe==0.7.0
more-itertools==9.0.0
natsort==6.2.1
node-vm2==0.4.5
ordered-set==3.1.1
pkginfo==1.8.3
platformdirs==2.5.4
puremagic==1.14
pycryptodomex==3.15.0
Pygments==2.13.0
pylint==2.15.6
pyperclip==1.8.2
pythreadworker==0.10.0
pywin32-ctypes==0.2.0
pyxcute==0.6.0
readme-renderer==37.3
requests==2.28.1
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==12.6.0
safeprint==0.2.0
semver==2.13.0
Send2Trash==1.8.0
setuptools==65.6.0
six==1.16.0
tomli==2.0.1
tomlkit==0.11.6
tornado==6.2
twine==4.0.1
uncurl==0.0.11
urllib3==1.26.12
webencodings==0.5.1
win-unicode-console==0.5
wrapt==1.14.1
zipp==3.10.0