ansicon==1.89.0
astroid==4.0.4
belfrywidgets==1.0.3
bidict==0.23.1
blessed==1.38.0
brotli==1.2.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
curl_cffi==0.14.0
deno_vm==0.6.0
desktop3==0.5.4
dill==0.4.1
docopt==0.6.2
docutils==0.22.4
enlighten==1.14.1
id==1.6.1
idna==3.11
importlib_metadata==8.5.0
isort==8.0.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jinxed==1.4.0
keyring==25.7.0
livereload==2.7.1
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.8.0
nh3==0.3.4
ordered-set==3.1.1
packaging==26.0
pkginfo==1.10.0
platformdirs==4.9.4
prefixed==0.9.0
puremagic==2.1.1
pycparser==3.0
pycryptodomex==3.23.0
Pygments==2.20.0
pylint==4.0.5
pyperclip==1.11.0
pythreadworker==0.10.0
pywin32-ctypes==0.2.3
pyxcute==0.8.1
readme_renderer==44.0
requests==2.33.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.3.3
safeprint==0.2.0
semver==2.13.0
Send2Trash==1.8.3
setuptools==82.0.1
six==1.17.0
tomlkit==0.14.0
tornado==6.5.5
twine==6.2.0
typing_extensions==4.8.0
uncurl==0.0.11
urllib3==2.6.3
wcwidth==0.6.0
win_unicode_console==0.5
yt-dlp==2026.3.17
zipp==3.21.0