astroid==2.11.5
belfrywidgets==1.0.3
bleach==5.0.0
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
commonmark==0.9.1
desktop3==0.5.3
dill==0.3.5.1
docopt==0.6.2
docutils==0.18.1
future==0.18.2
idna==3.3
importlib-metadata==4.11.4
isort==5.10.1
keyring==23.5.1
lazy-object-proxy==1.7.1
livereload==2.6.3
lzstring==1.0.4
mccabe==0.7.0
natsort==6.2.1
node-vm2==0.4.4
ordered-set==3.1.1
pkginfo==1.8.2
platformdirs==2.5.2
puremagic==1.14
pycryptodomex==3.14.1
Pygments==2.12.0
pylint==2.14.0
pyperclip==1.8.2
pythreadworker==0.10.0
pywin32-ctypes==0.2.0
pyxcute==0.6.0
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.4.4
safeprint==0.2.0
semver==2.13.0
Send2Trash==1.8.0
setuptools==62.3.2
six==1.16.0
tomli==2.0.1
tomlkit==0.11.0
tornado==6.1
twine==4.0.1
uncurl==0.0.11
urllib3==1.26.9
webencodings==0.5.1
win-unicode-console==0.5
wrapt==1.14.1
zipp==3.8.0